.k-writer-input .k-shy {
  display: inline-block;
  height: 1em;
  padding: 0 1.5px;
  position: relative;
}

.k-writer-input .k-shy::before {
  content: " ";
  height: 1.3em;
  display: inline-block;
  transform: translateY(10%); 
  width: 1px;
  background-color: currentColor;
  opacity: 0.4;
}
